@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');

body {
  margin: 0;
  font-family: 'Varta', sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select.placeholder-selected {
  color: #6c757d;
}

select option {
  color: #000000;
}